* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(#989058, #181818);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slider-title {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 56px;
    padding-top: 150px;
    width: 50%;
    height: 50vh;
}

.slider-title span {
    position: absolute;
    top: 12.5rem;
    font-size: 30rem;
    opacity: 0.05;
    line-height: 76px;
    width: 45%;
}

.slider-title h1 {
    font-size: 16vh;
    margin-top: 30px;
}

.slider-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}


.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.sliders-block {
    max-width: 800px;
    width: 100%;
    position: relative;
    margin: 25px;
    box-shadow: 10px 10px 44px -10px rgba(0,0,0,0.75);
}

#btn-prev, #btn-next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: gray;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover {
    opacity: 0.6;
}


#btn-next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    transition: all .2s ease-in-out;
}

.slide.active {
    display: block;
    transition: all .2s ease-in-out;
}

.sliders-block img {
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
}

.dots-wrapper {
    display: none;
}

.dots-block {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: #ffffff;
}

.dots-block span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray; 
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.7;
}

.dots-block span:last-child {
    margin-right: 0;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 30px 0px;
}

.image {
    opacity: 0.2;
    margin: 10px;
    cursor: pointer;
}

.image.active {
    opacity: 1;
}

@media (max-width:1200px) {
    .slider-title span {
        top: 10.5rem;
        font-size: 20rem;
        width: 35%;
    }
    .slider-title h1 {
        font-size: 10vh;
        margin-top: 30px;
    }
}

@media (max-width: 1024px) {
    .slider-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }
    .slider-title {
        padding-top: 40px;
        width: 100%;
        height: auto;
    }
    .slider-title span {
        top: 3.5rem;
        font-size: 10rem;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .dots-wrapper {
        display: block;
    }
    .images-wrapper {
        display: none;
    }
}

@media (max-width: 480px) {
    .slider-title h1 {
        font-size: 6vh;
    }
}